form {
    .form-submit {
        margin-top: var(--spacer-4);
    }
    .form-checkbox {
        label {
            position: relative;
            display: inline-block;
            cursor: pointer;
            &.has-error {
                .marker {
                    border-color: var(--border-color--error);
                }
            }
        }
        &.checkbox-switch {
            label {
                padding-left: var(--spacer-6);
            }
            .switch {
                position: absolute;
                left: 0;
                display: block;
                width: 40px;
                height: 24px;
                margin-right: var(--spacer-3);
                border: 1px solid;
                border-radius: 100px;
                transition: 0.1s var(--bezier);
                cursor: pointer;
                &:before {
                    content: "";
                    position: absolute;
                    height: 18px;
                    width: 18px;
                    left: 2px;
                    bottom: 2px;
                    background-color: #000;
                    border-radius: 100px;
                }
            }
            input { 
                display: none;
                &:checked + .switch {
                    background-color: #000;
                    &:before {
                        background-color: #fff;
                    }
                }
                &:checked + .switch:before {
                    transform: translateX(16px);
                }
            }
        }
        &.checkbox-marker {
            label {
                padding-left: var(--spacer-4);
            }
            .marker {
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                background-color: rgba(0,0,0,0);
                border: 1px solid var(--border-color-0);
                border-radius: $base-border-radius;
                cursor: pointer;
                svg {
                    opacity: 0;
                }
            }
            input { 
                display: none;
                &:checked + .marker {
                    border-color: var(--accent-color);
                    background-color: var(--accent-color);
                    svg {
                        opacity: 1;
                        path {
                            stroke: var(--background-color-0);
                        }
                    }
                    &:before {
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .form-range {
        position: relative;
        display: block;
        margin-bottom: var(--spacer-4);
        label {
            display: block;
            padding-bottom: var(--spacer-1);
        }
        .range-holder {
            // position: relative;
            .range-inner-wrapper {
                display: flex;
                align-items: center;
            }
            span {
                min-width: 40px;
                text-align: right;
                padding: 0 var(--spacer-3);
                font-size: var(--type-scale--min);
            }
            input {
                -webkit-appearance: none;
                background: rgba(255, 255, 255, 0.6);
                height: 8px;
                border-radius: $base-border-radius;
                background-image: linear-gradient(var(--accent-color--light), var(--accent-color--light));
                background-color: var(--background-color-1);
                background-size: 70% 100%;
                background-repeat: no-repeat;
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    margin-top: 0; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
                    height: 16px;
                    width: 16px;
                    border-radius: 16px;
                    background-color: var(--accent-color);
                    cursor: pointer;
                }
                &::-moz-range-thumb {
                    height: 16px;
                    width: 16px;
                    border-radius: 16px;
                    background: var(--accent-color);
                    cursor: pointer;
                }
                &:focus {
                    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
                } 
            }
            input {
                width: 100%;
                &.has-error {
                    border: 1px solid var(--border-color--error);
                }
            }
            .range-success {
                position: absolute;
                top: 0;
                // transform: translateY(-50%);
                right: 0;
                z-index: 1;
                pointer-events: none;
                svg {
                    path, circle {
                        stroke: var(--border-color--success);
                    } 
                }
            }
            .range-error {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: var(--spacer-3);
                z-index: 1;
                pointer-events: none;
                svg {
                    path, circle {
                        fill: var(--border-color--error);
                    } 
                }
            }
        }
    }
    .form-input {
        position: relative;
        display: block;
        margin-bottom: var(--spacer-4);
        label {
            display: block;
            padding-bottom: var(--spacer-2);
        }
        .input-holder {
            position: relative;
            input {
                width: 100%;
                &.has-error {
                    border: 1px solid var(--border-color--error);
                }
            }
            .input-success {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: var(--spacer-3);
                z-index: 1;
                pointer-events: none;
                svg {
                    path, circle {
                        stroke: var(--border-color--success);
                    } 
                }
            }
            .input-error {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: var(--spacer-3);
                z-index: 1;
                pointer-events: none;
                svg {
                    path, circle {
                        fill: var(--border-color--error);
                    } 
                }
            }
        }
    }
    .form-textarea {
        position: relative;
        display: block;
        margin-bottom: var(--spacer-4);
        label {
            display: block;
            padding-bottom: var(--spacer-2);
        }
        .textarea-holder {
            position: relative;
            textarea {
                width: 100%;
                max-height: 300px;
                &.has-error {
                    border: 1px solid var(--border-color--error);
                }
            }
            .textarea-success {
                position: absolute;
                top: 15px;
                right: var(--spacer-3);
                z-index: 1;
                pointer-events: none;
                svg {
                    path, circle {
                        stroke: var(--border-color--success);
                    } 
                }
            }
            .textarea-error {
                position: absolute;
                top: 15px;
                right: var(--spacer-3);
                z-index: 1;
                pointer-events: none;
                svg {
                    path, circle {
                        fill: var(--border-color--error);
                    } 
                }
            }
        }
    }
    .textarea-error-message,
    .range-error-message,
    .checkbox-error-message,
    .input-error-message {
        position: relative;
        display: block;
        color: var(--type-color--error);
        margin-top: var(--spacer-2);
        svg {
            position: absolute;
            top: 0;
            left: 0;
            path, circle {
                fill: var(--border-color--error);
            } 
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="phone"],
    textarea {
        position: relative;
        display: block;
        padding: var(--spacer-3) var(--spacer-3);
        border: 1px solid rgba(0,0,0,0);
        background-color: var(--background-color-1);
        border-radius: $base-border-radius;
        &::placeholder {
            color: var(--type-color-4);
        }
        &:hover,
        &:focus {
            border-color: var(--accent-color);
        }
    }
    button {
        padding: var(--spacer-3) var(--spacer-4);
        background-color: var(--background-color-3);
        border-radius: $base-border-radius;
    }
}


